@model IEnumerable<Arriendos.Models.Propiedad>
    @{
        ViewBag.Title = "Index";
    }

<center>
    <h2 class="titulo-prop">Mis propiedades</h2>
</center>
<br />
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4 style="font-weight:bold">@Html.DisplayFor(modelItem => item.Direccion)</h4>
            </td>
            @foreach (var photo in item.Fotos.ToList())
            {
                <td>
                    <img style="width:100px;height:100px" class="img-perfil" src="@Url.Action("Photos", "Behavior",new {id=photo.Id } )" />
                </td>
            }

        </tr>
    }

</table>

