
@{
    ViewBag.Title = "Index";
}

<br />
<div class="container body-content">

    <div class="row">
        <div class="col-md-4">
            <center>
                <h2 class="titulo-prop">Perfil</h2>
            </center>
            <br />
            <div id="_UsuarioLogeado">

            </div>

        </div>

<div class="col-md-4">
    <div id="_MostrarInmuebleUsuario">

    </div>

</div>
<div class="col-md-7">
    <div id="CrearInmueble">
</div>

        </div>
    </div>
    
</div>



@section scripts {   
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/Propiedades/Create',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#CrearInmueble').html(data);
                }
            });
        });
        $(function () {
            $.ajax({
                url: '/Perfil/DataUsuarioActual',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#_UsuarioLogeado').html(data);
                }
            });
        });
        $(function () {
            $.ajax({
                url: '/Perfil/MostrarInmueblesUsuario',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#_MostrarInmuebleUsuario').html(data);
                }
            });
        });
    </script>
}
