
@{
    ViewBag.Title = "Index";
}

<br />
<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <center>
                <h2 class="titulo-prop">Perfil</h2>
            </center>
            <br />
            <div id="_UsuarioLogeado">

            </div>
        </div>

        <div class="col-md-8">
            <div id="_MostrarInmuebleUsuario">

            </div>
            <br />
            <center><center><a class="btn btn-warning" id="nueva-prop">Nueva Propiedad</a></center></center>
        </div>
        <br />
        <div class="col-md-8">
            <div id="CrearInmueble" style="display:none">

            </div>
            <center><center><a class="btn btn-warning" style="visibility:hidden" id="ocultar-prop">Ocultar</a></center></center>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/Propiedades/Create',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#CrearInmueble').html(data);
                }
            });
        });
        $(function () {
            $.ajax({
                url: '/Perfil/DataUsuarioActual',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#_UsuarioLogeado').html(data);
                }
            });
        });
        $(function () {
            $.ajax({
                url: '/Perfil/MostrarInmueblesUsuario',
                cache: false,
                dataType: "html",
                success: function (data) {
                    $('#_MostrarInmuebleUsuario').html(data);
                }
            });
        });

        $('#nueva-prop').click(function () {
            $('#CrearInmueble').css('visibility', 'visible');
            $('#ocultar-prop').css('visibility', 'visible');
            $('#CrearInmueble').show('fast');
        });

        $('#ocultar-prop').click(function () {
            $('#CrearInmueble').css('visibility', 'hidden');
            $('#CrearInmueble').hide('fast');
            $('#ocultar-prop').css('visibility', 'hidden');
        });
    </script>
}
