@model IEnumerable<Arriendos.Models.Propiedad>

@foreach (var item in Model)
{
    <h4> @item.ciudad.Nombre </h4>
    <h4>@item.Direccion</h4>

    <h3>@item.Descripcion</h3>
    foreach (var photo in item.Fotos.ToList())
    {
        <img class="img-perfil" src="@Url.Action("Photos", "Behavior",new {id=photo.Id } )" />
    }
}
